
body {
    font-family: "Lato", sans-serif;
    background-color: rgb(33, 31, 31);
    margin: 25px;

  }
  .container-flex {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    border: 1px white solid;
  }
  .nav {
    width: 175px;
    height: 100%;
    padding: 10px;
    height: auto;
    text-align: center;
    margin: 1px;    
  }
  
  .nav a {
    padding: 10px 10px 10px;
    text-decoration: underline;
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s;
    display: block;
    margin: 10px auto;
    text-align: center;
    
  }
  
  .nav a:hover {
    text-decoration: none;
  }

  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .container {
    border: white 1px solid;
    padding: 10px;
    flex-basis: 85%;
    margin: 10px;
    display: none;
  }
  .welcome {
    display: block;
  }
  .container h2 {
    color: #ffffff;
    text-align: center;
  }
  .text-box p {
    color: white;
  }
  .cont-img {
    width: 400px;
    height: 350px;
    border: 1px white solid;
    display: inline-flex;
  }
  .cert-img {
    width: 400px;
    height: 350px;
  }