body {
    font-family: "Lato", sans-serif;
  }
  .container-flex {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: bisque;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidenav {
    left: 0;
    background-color: #313030;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #9b9b9b;
  }
  h1 {
    text-align: center;
  }
  .container {
    border: black 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-basis: 70%;
  }
  .about {
    display: flex;
  }
  .cert {
    display: none;
  }
  .projects {
    display: none;
  }
  .contact {
    display: none;
  }