
body {
    font-family: "Lato", sans-serif;
    background-color: rgb(72, 72, 72);
    margin: 25px;
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr);
    grid-template-rows: 100px 200px 200px 1fr 5%;
    gap: 20px;

  }
  header {
    grid-area: 1 / 1 / span 1 / span 5;
  }
  h1, h2 {
    text-align: center;
    color: #ffffff;
  }
  p {
    color: white;
    padding: 20px 20px 20px 20px;
  }
  .pic {
    grid-area: 2 / 1 / span 1 / span 1;
    border: 1px white solid;
  }
  .nav {
    display: grid;
    text-align: center;
    margin: 1px;  
    grid-area: 3 / 1 / span 1 / span 1;  
    grid-template: repeat(4, 1fr) / 1fr;
  }
  .active {
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    box-shadow: none !important;
    transform: translate(5px, 5px);
  }
  
  .nav a {
    padding: 5px 10px 5px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 150px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(37, 37, 37);
  
  }
  .nav a:active {
    box-shadow: none;
    transform: translate(5px, 5px);
  }
  .nav a:hover {
    box-shadow: none;
    transform: translate(5px, 5px);
  }
  .container {
    grid-area: 2 / 2 / span 3 / span 4;
    background-color: rgb(37, 37, 37);
    box-shadow: 5px 5px 5px black;
    text-align: center;
    transform: translateX(100%);
    height: 100%;
   
  }
  .visible {
    visibility: visible;
    opacity: 1;
    animation: slide-in 1s ease-in-out forwards;
    transition: transform 1s ease-in-out;
  
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    animation: slide-out 1s ease-in-out forwards;
  }
  figure {
    display: inline;
  }
  .cert-img {
    width: 20%;
    height: auto;
    min-width: 250px;
  }
  footer {
    grid-area: 5 / 1 / span 1 / span 5;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @media screen and (max-width: 700px) {
    .container {
      grid-area: 3 / 1 / span 2 / span 5;
    }
    .nav {
      grid-area: 2 / 2 / span 1 / span 4;
    }
    .pic {
      grid-area: 2 / 1 / span 1 / span 1;
    }
  }
  